* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, sans-serif;
}

body {
    background-color: black;
    color: red;
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    text-decoration: none;
    color: red;
}

li {
    list-style: none;
}


nav {
    width: 100vw;
    display: flex;
}

.logo {
    width: 50%;
}

.logo img {
    width: 200px;
}

.icon {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.icon i {
    color: red;
    font-size: 50px;
    margin: 0 15px 0 0;
}

.links {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 50px;    



    overflow-y: hidden;
    height: 0vh;
    transition: all 0.5s;
}

.links a {
    font-size: 30px;
}

.change-links {
    overflow-y: visible;
    height: 25vh;
    transition: all 0.5s;
}

.nav-links {
    display: none;
}

.main-page {
    height: 100vh;
    width: 0vw;
    overflow-x: hidden;
}

.show {
    overflow-x: visible;
    transition: all 2s;
    width: 90vw;
}

@media screen and (min-width) {
    
}

@media screen and (min-width: 776px) {
    .main-page {
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:1200px) {
    .main-page {
        height: 100vh;
    }
}

@media screen and (min-width: 1200px) {
    nav {
        width: 100vw;
        display: flex;
    }
    .logo img {
        width: 500px;
    }
    .icon {
        display: none;
    }

    .change-links {
        display: none;
    }

    .nav-links {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-links a {
        font-size: 40px;
        margin: 0 50px 0 0;
    }
}

@media screen and (min-width: 776px) {
    nav {
        width: 100vw;
        display: flex;
    }
    .logo img {
        width: 300px;
    }
    .icon {
        display: none;
    }

    .change-links {
        display: none;
    }

    .nav-links {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-links a {
        font-size: 20px;
        margin: 0 50px 0 0;
    }
}

.change {
    font-size: 30px;
}

.welcome-text {
    color: wheat;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.welcome-text h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.welcome-text h3 {
    text-align: center;
    margin-bottom: 20px;
}

.welcome-text h2 {
    text-align: center;
}

.welcome-textp {
    font-size: 10px;
    margin: 20px;
}

.intro {
    gap: 20px;
    margin-top: 30px;
}

.col {
    color: red;
}



.client-to-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.myself {
    color: wheat;
}

.insta, .twitter, .gmail, .location i {
    font-size: 30px;
}

.location {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation-name: location;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: alternate;

}

@keyframes location {
    0% {
        top: 0;
    }

    100% {
        top: 10px;
    }
}



.insta:hover {
    position: relative;
    bottom: 10px;
    transition: all 1s;
}

.twitter:hover {
    position: relative;
    bottom: 10px;
    transition: all 1s;
}

.gmail:hover {
    position: relative;
    bottom: 10px;
    transition: all 1s;
}

@media screen and (min-width: 1200px) {
    .insta, .twitter, .gmail, .location i {
        font-size: 50px;
    }
    
}


@media screen and (min-width: 1200px) {

    .welcome-text h1 {
        font-size: 100px;
    }

    .client-to-me {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.img-about {
    width: 100vw;
    display: flex;
    flex-direction: column;
}
/*
.img {
    width: 90%;
    background-color: purple;
    padding: 30px;
    margin: 20px;
    height: 200px;
    border-radius: 8px;
}
*/
.about {
    width: 90%;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    margin:20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.title .change {
    margin: 0 0 0 1px;
}

.title i {
    margin: 0 0 0 1px;
}

.par {
    position: relative;
    animation-name: icons;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes icons {
    0% {
        top: 0;
    }

    100% {
        top: 10px;
    }
}

.about .title i {
    font-size: 30px;
}

.me {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.large-screens {
    display: none;
}

@media screen and (min-width: 1200px) {
    .about {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }

    .me {
        width: 90%;
        display: flex;
        text-align: none;
    }

    .small-screens {
        display: none;
    }

    .large-screens {
        display: block;
        text-align: center;
        margin: 0 0 0 150px;
        gap: 50px;
    }

    .title .change {
        margin: 0 0 0 80px;
    }
    
    .title i {
        margin: 0 0 0 80px;
    }
}


.services {
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    width: 100vw;
    margin: 20px 0 0 0px;
}

@media screen and (min-width: 1200px) {
    .services {
        display: flex;
        flex-direction: column;
        margin: 50px 0 50px 0;
    }

    .container {
        display: flex;
    }
}

.web-dev {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    margin: 20px;
    padding: 10px;
    transition: all 1s;
    border-radius: 10px;
}


.web-dev i {
    font-size: 50px;
}

.web-dev h1 {
    margin: 15px;
}

.web-dev:hover {
    color: black;
    background-color: red;
    transition: all 1s;
    border: 2px solid wheat;
}

.web-des {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.web-des i {
    font-size: 50px;
}

.web-des h1 {
    margin: 15px;
}

.web-des:hover {
    color: black;
    background-color: red;
    transition: all 1s;
    border: 2px solid wheat;
}

.graph-des {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.graph-des i {
    font-size: 50px;
}

.graph-des h1 {
    margin: 15px;
}

.graph-des:hover {
    color: black;
    background-color: red;
    transition: all 1s;
    border: 2px solid wheat;
}

.desc i {
    font-size: 30px;
}

hr {
    margin: 0 35px 0 35px;
}

.skills {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 20px 0 0 0;
}

.skills i {
    font-size: 30px;
}

.frontend {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.header {
    margin: 25px 0 0 0;
}

.header i {
    font-size: 30px;
}

.html-css {
    display: flex;
    justify-content: space-evenly;
}

.html-bar {
    height: 20px;
    width: 90vw;
    padding: 10px;
    margin: 0 0 24px 20px;
    background-color: red;
    border-radius: 5px;
    position: relative;
}

.html-stats {
    height: 20px;
    width: 90%;
    padding: 10px;
    margin: 0;
    background-color: wheat;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.javascript {
    display: flex;
    justify-content: space-evenly;
}

.js-bar {
    height: 20px;
    width: 90vw;
    padding: 10px;
    margin: 0 0 24px 20px;
    background-color: red;
    border-radius: 5px;
    position: relative;
}

.js-stats {
    height: 20px;
    width: 70%;
    padding: 10px;
    margin: 0;
    background-color: wheat;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.react {
    display: flex;
    justify-content: space-evenly;
}

.react-bar {
    height: 20px;
    width: 90vw;
    padding: 10px;
    margin: 0 0 24px 20px;
    background-color: red;
    border-radius: 5px;
    position: relative;
}

.react-stats {
    height: 20px;
    width: 50%;
    padding: 10px;
    margin: 0;
    background-color: wheat;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.front-head {
    text-align: start;
    margin: 10px 0 20px 30px;
}

.front-head h1 {
    color: wheat;
}

.html {
    margin: 20px 0 0 0;
}

.header {
    text-align: center;
}

.back-head {
    text-align: start;
    margin: 10px 0 20px 30px;
}

.back-head h1 {
    color: wheat;
}

.node {
    display: flex;
    justify-content: space-evenly;
}

.node-bar {
    height: 20px;
    width: 90vw;
    padding: 10px;
    margin: 0 0 24px 20px;
    background-color: red;
    border-radius: 5px;
    position: relative;
}

.node-stats {
    height: 20px;
    width: 50%;
    padding: 10px;
    margin: 0;
    background-color: wheat;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.express {
    display: flex;
    justify-content: space-evenly;
}

.express-bar {
    height: 20px;
    width: 90vw;
    padding: 10px;
    margin: 0 0 24px 20px;
    background-color: red;
    border-radius: 5px;
    position: relative;
}

.express-stats {
    height: 20px;
    width: 50%;
    padding: 10px;
    margin: 0;
    background-color: wheat;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.python {
    display: flex;
    justify-content: space-evenly;
}

.python-bar {
    height: 20px;
    width: 90vw;
    padding: 10px;
    margin: 0 0 24px 20px;
    background-color: red;
    border-radius: 5px;
    position: relative;
}

.python-stats {
    height: 20px;
    width: 50%;
    padding: 10px;
    margin: 0;
    background-color: wheat;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

@media  screen and (min-width: 1200px) {
    .skills {
        display: flex;
        flex-direction: row;
        width: 100vw;
    }

    .header {
        margin: 25px 0 0 0;
    }

    .header i {
        font-size: 30px;
    }


    .html-bar {
    height: 20px;
    width: 40vw;
    padding: 10px;
    margin: 0 0 24px 20px;
    background-color: red;
    border-radius: 5px;
    position: relative;
}

.html-stats {
    height: 20px;
    width: 90%;
    padding: 10px;
    margin: 0;
    background-color: wheat;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

  .html-css {
      display: flex;
      justify-content: space-evenly;
      width: 50vw;
  }

  .js-bar {
    height: 20px;
    width: 40vw;
    padding: 10px;
    margin: 0 0 24px 20px;
    background-color: red;
    border-radius: 5px;
    position: relative;
}

.js-stats {
    height: 20px;
    width: 70%;
    padding: 10px;
    margin: 0;
    background-color: wheat;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.react-bar {
    height: 20px;
    width: 40vw;
    padding: 10px;
    margin: 0 0 24px 20px;
    background-color: red;
    border-radius: 5px;
    position: relative;
}

.html-stats {
    height: 20px;
    width: 50%;
    padding: 10px;
    margin: 0;
    background-color: wheat;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

    .node-bar {
        height: 20px;
        width: 40vw;
        padding: 10px;
        margin: 0 0 24px 20px;
        background-color: red;
        border-radius: 5px;
        position: relative;
    }
    
    .node-stats {
        height: 20px;
        width: 50%;
        padding: 10px;
        margin: 0;
        background-color: wheat;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .express-bar {
        height: 20px;
        width: 40vw;
        padding: 10px;
        margin: 0 0 24px 20px;
        background-color: red;
        border-radius: 5px;
        position: relative;
    }
    
    .express-stats {
        height: 20px;
        width: 50%;
        padding: 10px;
        margin: 0;
        background-color: wheat;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .python-bar {
        height: 20px;
        width: 40vw;
        padding: 10px;
        margin: 0 0 24px 20px;
        background-color: red;
        border-radius: 5px;
        position: relative;
    }
    
    .python-stats {
        height: 20px;
        width: 50%;
        padding: 10px;
        margin: 0;
        background-color: wheat;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    width: 90vw;
    align-items: center;
}


.contact-link {
    padding: 10px;
    background-color: wheat;
    width: 50%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: red;
    transition: all 1s;
}

.contact-link:hover {
    background-color: black;
    transition: all 1s;
    border: 1px solid red;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 90vw;
    text-align: center;
    margin: 20px;
}

.description h1 {
    text-align: center;
    margin: 0 0 20px 25px;
}

.copy-write {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 25px;
}

.latest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
}

.projects-link {
    width: 80%;
    padding: 20px;
    margin: 35px 0 0 30px;
    height: 24px;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.projects-link:hover {
    background-color: black;
    transition: all 1s;
    border: 1px solid red;
}

.contact-icons  {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}


.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
   /* margin: 0 20px 15px 250px; */
    border-radius: 3px;
    border: 1px solid red;
    background-color: black;
    color: wheat;
    padding: 5px;
    position: fixed;
    bottom: 30px;
    right: 10px;
    font-size: 20px;
    transition: all 2s;
    display: none;
    animation-name: top;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.btn:hover {
    background-color: red;
    color: black;
    border: 1px solid wheat;
}

@keyframes top {
    100% {
        position: fixed;
        bottom: 20px;
        transition: all 2s;
    }

}